<div class="content">
    <div class="table">
        <div class="table-header">
            <h3>Backend Developers</h3>
        </div>
        <table>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>JobPosition</th>
                <th>Credit Card</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let user of backEndUsers | sortPipe:'asc' ">
                <td>{{user.userName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.jobPosition}}</td>
                <td>{{user.creditCard | creditCardDashed}}</td>
                <td><button (click)="deleteUser(user.id)">Delete</button></td>
            </tr>
        </table>

    </div>

    <div class="table">
        <div class="table-header">
            <h3>Frontend Developers</h3>
        </div>
        <table>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>JobPosition</th>
                <th>Credit Card</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let user of frontEndUsers | sortPipe:'asc' ">
                <td>{{user.userName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.jobPosition}}</td>
                <td>{{user.creditCard | creditCardDashed}}</td>
                <td><button (click)="deleteUser(user.id)">Delete</button></td>
            </tr>
        </table>

    </div>

    <div class="table">
        <div class="table-header">
            <h3>FullStack Developers</h3>
        </div>
        <table>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>JobPosition</th>
                <th>Credit Card</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let user of fullStackUsers | sortPipe:'asc'">
                <td>{{user.userName }}</td>
                <td>{{user.email}}</td>
                <td>{{user.jobPosition}}</td>
                <td>{{user.creditCard | creditCardDashed}}</td>
                <td><button (click)="deleteUser(user.id)">Delete</button></td>
            </tr>
        </table>

    </div>
</div>