<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-header">
        <h2>
            Register Here
        </h2>
    </div>
    <div class="form-inputs">
        <div class="form-input">
            <label for="Username">Username</label>
            <input type="text" formControlName="userName">
            <span class="errors" *ngIf="userForm.get('userName')?.invalid && userForm.get('userName')?.touched">Username
                is
                required</span>
        </div>
        <div class="form-input">
            <label for="email">Email</label>
            <input type="email" formControlName="email">
            <span class="errors" *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">Email
                is
                required</span>
        </div>
        <div class="form-input">
            <label for="password">Password</label>
            <input type="password" formControlName="password">
            <span class="errors" *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">Password
                is
                required</span>
        </div>
        <div class="form-input">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" required formControlName="confirmPassword">
            <span class="errors"
                *ngIf="userForm.get('confirmPassword')?.invalid && userForm.get('confirmPassword')?.touched">Confirm
                Password
                is
                required</span>
            <span *ngIf="userForm.hasError('passwordsNotMatching')" class="errors">Passwords not matching</span>
        </div>
        <div class="form-input">
            <label>Credit Card</label>
            <input type="text" formControlName="creditCard">
            <span class="errors"
                *ngIf="userForm.get('creditCard')?.invalid && userForm.get('creditCard')?.touched">Credit Card is
                required</span>
            <span class="errors"
                *ngIf="userForm.get('creditCard')?.hasError('minlength') || userForm.get('creditCard')?.hasError('maxlength')">Credit
                Card is not valid</span>
        </div>
        <div class=" form-input">
            <label for="address">Job Position</label>
            <div class="radio-buttons">
                <input type="radio" formControlName="jobPosition" name="jobPosition" value="Frontend">Frontend
                <input type="radio" formControlName="jobPosition" name="jobPosition" value="Backend">Backend
                <input type="radio" formControlName="jobPosition" name="jobPosition" value="Fullstack">Fullstack
            </div>
            <span class="errors"
                *ngIf="userForm.get('jobPosition')?.invalid && userForm.get('jobPosition')?.touched">Job
                Position
                is
                required</span>
        </div>
        <button class="btn-submit" type="submit">Submit</button>
    </div>
</form>