form {
  width: 400px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
  margin: 10px;
}

form > *{
  margin: 5px;
}

input {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
}



.form-input {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

.form-input label {
  display: flex;
  text-align: flex-start;
}

.form-input input {
  border: 1px solid #4a4d84;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
}

.form-input input:focus,
.form-input input:active {
  border: 2px solid black;
}

.btn-submit {
  width: 50%;
  height: 30px;
  background-color: #272c8c;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #4a4d84;
  color: white;
  transform: scale(1.1);
  background-image: linear-gradient(to right, #272c8c, #4a4d84);
  cursor: pointer !important;
}

.register{
  color: #272c8c;
  font-weight: bold;
}

.errors {
  display: block;
  color: red;
  text-align: left;
}
